body {
  font-family: "Poppins", sans-serif;
}
.hero {
  padding: 5rem 0;
}
.tagline {
  font-weight: 600;
  line-height: 1.25;
  font-size: 3rem;
  margin: auto;
  word-spacing: 250%;
}

.sub-heading {
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: auto;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #555555;
}
.our-team {
  text-decoration: underline;
  text-decoration-color: #ff00ff;
  text-underline-offset: 0.8vw;
  font-weight: 500;
  font-size: 3rem;
}
.our-team-cards {
  margin-top: 3rem;
}
.profile {
  padding: 3rem 2rem;
  background-color: transparent;
}
.profile:hover,
.profile:active {
  background-color: #ff00ff;
  cursor: pointer;
  color: white;
}
.image-container {
  margin: 0 auto;
}
img {
  max-height: 7.5rem;
  max-width: 7.5rem;
  border-radius: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.name {
  margin: 1rem 0 0.5rem;
}

@media screen and (max-width: 1100px) {
  .tagline {
    font-weight: 500;
    line-height: 1.1;
    font-size: 2rem;
    margin: auto;
    max-width: 64rem;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    padding: 3rem 0;
  }
  .tagline {
    line-height: 1;
    font-size: 1.25rem;
    margin: 1rem 1rem;
    word-spacing: 110%;
  }
  .sub-heading {
    line-height: 1;
    font-size: 1rem;
    margin: auto 1rem;
    word-spacing: 100%;
  }
  .our-team {
    font-weight: 400;
    font-size: 1rem;
  }

  .our-team-cards {
    margin-top: 1.5rem;
  }
  .profile {
    padding: 1.5rem 2rem;
    background-color: transparent;
  }
  .name {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .designation {
    font-size: 0.75rem;
  }
}
